{% extends 'base.html' %}

{% block title %}About - {% endblock %}

{% block content %}


  <h2 class='title'>About</h2>

  <article>
    <p>
      This is a passion/archival project spawned by my love for Painkiller Already.
      I've been watching since late 2011, and the shop has given me literally thousands
      of hours of entertainment. This is my small was of giving back, as well as
      my first experience developing a website that will be used my more than just
      a handful of friends.
    </p>
  </article>

{% endblock %}