<html>
<head>
  <title>{% block title %}{% endblock %}PKA-DB</title>

  <link rel="stylesheet" href='{{ url_for("static", filename="bulma.min.css") }}'>

  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}' />
  <script src='{{ url_for("static", filename="script.js") }}'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <a href='/'>
      <h1 class='title is-1'>PKA DB</h1>
    </a>
  </header>

  <!-- Search -->
  <div class="search field has-addons has-addons-centered">
    <span class="control">
      <span class="select">
        <select id='search-type'>
          <option value='episode-pka' {% if 'pka' in request.path %} selected {% endif %}>Episode (PKA)</option>
          <option value='episode-pkn' {% if 'pkn' in request.path %} selected {% endif %}>Episode (PKN)</option>
          <option value='guest' {% if 'guest' in request.path %} selected {% endif %}>Guest</option>
          <option value='event' {% if 'event' in request.path %} selected {% endif %}>Event</option>
        </select>
      </span>
    </span>
    <span class="control">
      <input class="input" type="text" id='search-box' value="{{ request.path.split('/')[-1] if 'search' in request.path else '' }}">
    </span>
    <span class="control">
      <button class="button" id='search-button'>Search</button>
    </span>
  </div>

  

  <div class='main-content'>
    {% block content %}

    {% endblock %}
  </div>


</body>
</html>