{% extends 'base.html' %}

{% block title %}{{show_name}} {{episode}}{% endblock %}

{% block content %}


  <h2>{{show_name}} {{episode}}</h2>
  {% if yt_link is not none %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{yt_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
  <div class='guest-list'>
    <ul>
      {% for guest in guest_list %}
        <li><a href='/guest/id/{{guest["id"]}}'>{{guest['name']}}</a></li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}