{% extends 'base.html' %}

{% block title %}{{event_description}}{% endblock %}

{% block content %}

  <h2 class='title'>{{event_description}}</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Episode</th>
        <th>Event</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for event in event_list %}
        <a href="/event/{{event['id']}}">
          <tr>
            <td>{{event['show']}} {{event['episode']}}</td>
            <td>{{event['description']}}</td>
            <td>{{event['timestamp']}}</td>
          </tr>
        </a>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}