{% extends 'base.html' %}

{% block title %}{{guest_name}}{% endblock %}

{% block content %}

  <h2 class='title'>{{guest_name}}</h2>
  <div class="guest-stats">
    <p class='subtitle'>Total appearances: {{appearance_list|length}}</p>
    <p>Total runtime of all the shows they appeared on:</p>
    <p>{{runtime}}</p>

  </div>

  <table class='table' style='margin-left: auto; margin-right: auto'>
    <thead>
      <tr>
        <th>Appearances</th>
      </tr>
    </thead>
    <tbody>
      {% for appearance in appearance_list %}
      <tr>
        <td><a href="/{{appearance['show_name']|lower}}/{{appearance['episode']}}">{{appearance['show_name']}} {{appearance['episode']}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}