{% extends 'base.html' %}

{% block title %}Search results for "{{search_str}}"{% endblock %}

{% block content %}

  {% if guest_list|length == 0 %}
    No results for "{{search_str}}"
  {% else %}
  <h2>Search results for "{{search_str}}"</h2>


  <table class='table guest-search-table'>
    <thead>
      <tr>
        <th>Guest</th>
      </tr>
    </thead>
    <tbody>
      {% for guest in guest_list %}       
        <tr>
          <td>
            <a href="/guest/id/{{guest['id']}}">
              {{guest['name']}}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
{% endblock %}