body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

header {
    text-align: center;
    
}
.search {
    text-align: center;
    
}

.main-content {
    text-align: center;
}

.yt-embed {
    width: 100%;
    height: 0;
    position: relative;

    /* percentage of container width so that we can get a 16x9 ratio */
    padding-top: 56.25%;
}

.yt-embed > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.event-search-table {
    margin-left: auto;
    margin-right: auto;
}